# Ignore the data folder
data/

# Ignore the virtual environment folder
venv/

# Ignore all .model files in the w2v folder
w2v/*.model

# Ignore the pythontraining_withString_X file but not the compressed version
w2v/pythontraining_withString_X
!w2v/pythontraining_withString_X.zip

# 
